/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 24px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}
main { 
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

main h2 {
  font-size: 24px;
}

main h3 {
  font-size: 20px;
  margin-top: 20px;
}

main p {
  margin-bottom: 20px;
}


